@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anton+SC&family=Gruppo&family=Titan+One&display=swap');

body {
  font-family: "Aboreto", "Anton SC", sans-serif;
  line-height: 1.5;
  max-width: 1400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  grid-template-areas:
    "header      header"
    "nav         main"
    "footer      footer";
}

h1{
  font-family: "Anton SC", sans-serif;
  
}
h2 {
  font-family: "Aboreto", sans-serif;
  margin-top: 0;
}
nav {
  font-family: "Aboreto", sans-serif;
  font-size: 25px;
}

header,
nav,
footer {
  background-color: #ee7fa6aa;
}

section {
  background-color: #ee7fa6aa;
}

p {
  margin: 0;
}

header,
footer {
  padding: 0 20px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

section {
  padding: 20px;
}

footer {
  grid-area: footer;
}

img {
  border: 4px solid #a62859;
}

a,
a:link {
  color: #1c2a54;
}

a:visited {
  color: rgb(185, 0, 114);
}

a:hover {
  color: rgb(147, 177, 209);
}

a:active {
  color: rgba(0, 74, 17, 0.9);
}